name: CI/CD Visual Studio

on: push

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive

    
    - name: Premake Visual Studio project (plugin-sdk)
      shell: cmd
      run: |
        set PLUGIN_SDK_DIR=%GITHUB_WORKSPACE%\lib\plugin-sdk
        cd lib\plugin-sdk
        call "tools\generate\Visual Studio.bat"
   
    - name: Build plugin-sdk
      shell: cmd
      run: |
        cd lib\plugin-sdk
        msbuild plugin.sln /property:Configuration=Release /property:Platform="Mixed Platforms" /target:plugin_sa /m
    
    - name: Build solution
      run: msbuild MyPlugin.vcxproj /m /p:Configuration=ReleaseGTA-SA /p:Platform=Win32

    - name: Package artifacts
      run: |
        mkdir artifacts
        copy bin\GTA-SA\Release\*.asi artifacts\
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Byte-mp
        path: artifacts/